.intro {
  .d-grid {
    gap: 3rem;
  }
}

.about-us:is(.hero) ~ section {
  container-type: inline-size;

  & > .d-grid {
    grid-template-columns: min(100%, 40ch) 1fr;
    gap: 4rem;
  }

  h2 {
    align-self: flex-start;
    position: sticky;
    top: 7rem; // Adjusted for sticky main header
    z-index: 10;

    span {
      font-size: 1.25rem;
    }

    p {
      font-size: 2rem;
    }
  }
}

.detail {
  gap: 2rem;
}

.services-list {
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 40ch), 1fr));
  gap: 2rem;

  h3 {
    margin-block-end: 1rem;
  }
}

@container (width < 768px) {
  .about-us:is(.hero) ~ section {
    h2 {
      position: relative;
      top: 0;
      margin-block-end: 2rem;
    }

    & > .d-grid {
      grid-template-columns: 1fr;
    }
  }

  .about-us:is(.hero) ~ section:not(:last-of-type) {
    .d-grid {
      text-align: center;
    }
  }
}

@media (prefers-color-scheme: "dark") {
  @container (width < 768px) {
    .about-us:is(.hero) ~ section:not(:last-of-type) h2 {
      background-color: transparent;
    }
  }
}
