%toggleMenuPseudos {
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 0.25rem;
  background: var(--logoFillPrimary);
  z-index: 1;
  transition: all 0.2s ease-in-out;
  border-radius: 0.5rem;
}

header {
  background: var(--clr-white500);
  padding-block: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;

  .container {
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-between;
    container-type: inline-size;
  }

  .logo-container {
    width: 5rem;
    aspect-ratio: 1.05/1;
    background-color: var(--logoFillPrimary);
    mask-image: url("../images/logo.svg");
    mask-size: cover;
    transition: color 0.5s ease-in-out;

    &:hover {
      color: var(--logoFillDark);
    }
  }

  nav {
    grid-column: 1 / -1;
    overflow: hidden;
    transition: grid-template-rows 0.3s ease-in-out;
    display: grid;
    grid-template-rows: 0fr;

    ul {
      min-height: 0;
    }
  }

  &:has(#toggle-menu-checkbox:checked) {
    nav {
      grid-template-rows: 1fr;
    }
  }
}

.toggle-menu {
  height: 1.5rem;
  align-items: center;
  cursor: pointer;
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  span {
    --rotation: 45deg;

    width: 1.5rem;
    height: 0.25rem;
    background: var(--logoFillPrimary);
    display: inline-block;
    position: relative;
    border-radius: 0.5rem;

    &::before {
      @extend %toggleMenuPseudos;
      top: -10px;
      left: 0;
    }

    &::after {
      @extend %toggleMenuPseudos;
      right: 0;
      bottom: -10px;
    }
  }
}

#toggle-menu-checkbox:checked {
  & + span {
    rotate: var(--rotation);

    &::before {
      rotate: calc(var(--rotation) * 2);
      top: -6px;
      left: 6px;
    }
    &::after {
      rotate: calc(var(--rotation) * 2);
      bottom: -6px;
      right: 6px;
    }
  }
}

@container (min-width: 768px) {
  .toggle-menu {
    display: none;
  }

  header {
    nav {
      grid-column: auto;
      grid-template-rows: 1fr;
      display: inline-flex !important;
    }
  }
}
