@use "../abstract" as *;

:root {
  @each $colorScheme, $colorThemeMap in $colorSchemes {
    @each $colorKeyName, $colorKeyValue in $colorThemeMap {
      --clr-#{$colorScheme}#{$colorKeyName}: #{$colorKeyValue};
    }
  }

  --systemFont: #{$systemUIFont}, #{$fallbackFont};
  --headerFont: #{$customFont}, #{$fallbackFont};
  --bodyFontColor: var(--clr-dark700);
  --sectionBackdrop: var(--clr-light200);
  --logoFillPrimary: var(--clr-primary700);
  --logoFillDark: var(--clr-primary900);
  --bodyBackgroundColor: var(--clr-light100);
}
