@mixin buttons($variant: 'default', $theme: 'primary', $hasIcon: false){
	gap: .25rem;
	padding: .5rem 1.75rem;
	position: relative;
	isolation: isolate;
	transition: all 0.25s ease-in-out;
	align-items: center;

	@if($variant == 'cta') {
		font-weight: 500;
		box-shadow: 0 .25rem 1rem rgb(0 0 0 / .125);
		border-radius: 1rem;
		width: fit-content;

		&:hover {
			box-shadow: 0 .25rem 1rem rgb(0 0 0 / .2);
		}
	} 
	@else {
		border-radius: .5rem;
	}

	@if($theme == 'light') {
		color: var(--clr-primary500);
		background: var(--clr-light500);

		&:hover {
			color: var(--clr-primary700);
		}
	}

	@if($hasIcon == true) {
		i {
			font-style: normal;
			font-size: 1.5rem;
			transition: all .25s ease-in; 
		}

		&:hover {
			i {
				rotate: 360deg;
			}
		}
	}
}

@mixin autoCols($colMinWidth: 20rem) {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, $colMinWidth), 1fr));
}