@mixin buttons($variant: "default", $theme: "primary", $hasIcon: false) {
  gap: 0.5rem;
  padding: 0.25rem 2rem;
  position: relative;
  isolation: isolate;
  transition: all 0.25s ease-in-out;
  align-items: center;

  @if ($variant == "cta") {
    font-weight: 700;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.125);
    border-radius: 0.5rem;
    width: fit-content;

    &:hover {
      box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.2);
    }
  } @else {
    border-radius: 0.5rem;
  }

  @if ($theme == "light") {
    color: var(--clr-primary700);
    background: var(--clr-light100);
    font-size: calc(1rem + 1px);

    &:hover {
      color: var(--clr-primary700);
    }
  }

  @if ($hasIcon == true) {
    i {
      font-style: normal;
      font-size: 1.75rem;
      transition: all 0.25s ease-in;
    }

    &:hover {
      i {
        rotate: 360deg;
      }
    }
  }
}

@mixin autoCols($colMinWidth: 20rem) {
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%, $colMinWidth), 1fr)
  );
}
