@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat-medium-webfont.woff2") format("woff2"), url("../fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), url("../fonts/ptc55f-webfont.woff2") format("woff2"), local("PT Sans"), url("../fonts/ptc55f-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), url("../fonts/ptc75f-webfont.woff2") format("woff2"), local("PT Sans"), url("../fonts/ptc75f-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
:root {
  --clr-primary200: hsl(227 60% 65%) ;
  --clr-primary500: hsl(227 60% 50%) ;
  --clr-primary700: hsl(227 60% 35%) ;
  --clr-secondary500: hsl(178 37% 40%) ;
  --clr-accent500: hsl(240 35% 70%) ;
  --clr-dark500: hsl(0 0% 20%) ;
  --clr-dark600: hsl(0 0% 7.5%) ;
  --clr-dark900: hsl(0 0% 1%) ;
  --clr-light200: hsl(0 0% 95%) ;
  --clr-light500: hsl(0 0% 100%) ;
  --systemFont: PT Sans, sans-serif;
  --headerFont: Montserrat, sans-serif;
  --bodyFontColor: var(--clr-dark500);
  --sectionBackdrop: var(--clr-light200);
  --logoFillPrimary: var(--clr-primary500);
  --logoFillDark: var(--clr-primary700) ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  color-scheme: light;
}

body {
  height: 100%;
  color: var(--bodyFontColor);
  font-family: var(--systemFont);
  line-height: 1.5;
  text-rendering: geometricPrecision;
}

img {
  max-width: 100%;
  line-height: 1;
  vertical-align: middle;
  font-style: italic;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bodyFontColor: var(--clr-light200);
    --sectionBackdrop: var(--clr-dark500);
    --logoFillPrimary: var(--clr-primary200);
    --logoFillDark: var(--clr-primary500) ;
  }
  html {
    color-scheme: dark;
  }
}
h1 {
  font-family: var(--headerFont);
  font-weight: 600;
  line-height: 1.25;
}

h2 {
  font-family: var(--headerFont);
  font-weight: 600;
  line-height: 1.25;
}

h3 {
  font-family: var(--headerFont);
  font-weight: 600;
  line-height: 1.25;
}

h4 {
  font-family: var(--headerFont);
  font-weight: 600;
  line-height: 1.25;
}

h5 {
  font-family: var(--headerFont);
  font-weight: 600;
  line-height: 1.25;
}

h6 {
  font-family: var(--headerFont);
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size: clamp(1.25rem, 5vw + 0.25rem, 3rem);
}

section:not(.hero) {
  padding-block: clamp(1.5rem, 7vh, 5rem);
}

.container {
  width: min(100%, 82rem);
  margin: 0 auto;
  padding-inline: 1rem;
}

.summarized {
  font-size: calc(1rem + 2px);
}

nav ul {
  --_gap: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
}
nav li {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  padding-block: calc(var(--_gap) / 2);
  padding-inline: calc(var(--_gap) / 2);
}
nav li:has(.btn) {
  padding-block: 1rem;
}
nav li:not(:has(.btn))::after {
  content: "";
  position: absolute;
  inset-inline: 0;
  inset-block-end: 3px;
  width: 100%;
  height: calc(0.25rem + 2px);
  background: var(--logoFillPrimary);
  opacity: 0.25;
  translate: var(--_translate, 0);
  scale: var(--_scale, 0) 1;
  transition: scale 100ms var(--_scale-delay, 0ms), translate 200ms;
  z-index: -1;
}
nav li:hover ~ li {
  --_translate: -100%;
  --_scale-delay: 200ms;
}
nav li:focus-visible a {
  color: var(--clr-primary500);
}
nav li a {
  color: var(--clr-bodyFontColor);
  font-family: var(--headerFont);
  font-weight: 500;
}
nav:hover li {
  --_translate: 100%;
  --_scale-delay: 200ms;
}

nav li:hover,
nav li:focus-visible {
  --_scale: 1;
  --_translate: 0;
  --_scale-delay: 0ms;
}

@container (min-width: 768px) {
  nav ul {
    align-items: center;
    flex-direction: row;
  }
  nav ul li {
    padding-block: 0;
  }
}
.btn.is-cta {
  gap: 0.25rem;
  padding: 0.5rem 1.75rem;
  position: relative;
  isolation: isolate;
  transition: all 0.25s ease-in-out;
  align-items: center;
  font-weight: 500;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
  width: fit-content;
  color: var(--clr-primary500);
  background: var(--clr-light500);
}
.btn.is-cta:hover {
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
}
.btn.is-cta:hover {
  color: var(--clr-primary700);
}
.btn.is-cta i {
  font-style: normal;
  font-size: 1.5rem;
  transition: all 0.25s ease-in;
}
.btn.is-cta:hover i {
  rotate: 360deg;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-grid {
  display: grid;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-primary200 {
  color: var(--clr-primary200);
}

.text-primary500 {
  color: var(--clr-primary500);
}

.text-primary700 {
  color: var(--clr-primary700);
}

.text-secondary500 {
  color: var(--clr-secondary500);
}

.text-accent500 {
  color: var(--clr-accent500);
}

.text-dark500 {
  color: var(--clr-dark500);
}

.text-dark600 {
  color: var(--clr-dark600);
}

.text-dark900 {
  color: var(--clr-dark900);
}

.text-light200 {
  color: var(--clr-light200);
}

.text-light500 {
  color: var(--clr-light500);
}

.text-balance {
  text-wrap: balance;
}

@media (prefers-color-scheme: dark) {
  .text-primary700 {
    color: var(--clr-primary200);
  }
}
.toggle-menu span::after, .toggle-menu span::before {
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 0.25rem;
  background: var(--logoFillPrimary);
  z-index: 1;
  transition: all 0.2s ease-in-out;
  border-radius: 0.5rem;
}

header {
  background: var(--clr-white500);
  padding-block: clamp(1.25rem, 4vh + 0.25rem, 3rem);
}
header .container {
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: space-between;
  container-type: inline-size;
}
header .logo-container {
  color: var(--logoFillPrimary);
  transition: color 0.5s ease-in-out;
}
header .logo-container:hover {
  color: var(--logoFillDark);
}
header:not(:has(#toggle-menu-checkbox:checked)) nav {
  display: none;
}

.toggle-menu {
  height: 1.5rem;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.toggle-menu input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.toggle-menu span {
  --rotation: 45deg;
  width: 1.5rem;
  height: 0.25rem;
  background: var(--logoFillPrimary);
  display: inline-block;
  position: relative;
  border-radius: 0.5rem;
}
.toggle-menu span::before {
  top: -10px;
  left: 0;
}
.toggle-menu span::after {
  right: 0;
  bottom: -10px;
}

#toggle-menu-checkbox:checked + span {
  rotate: var(--rotation);
}
#toggle-menu-checkbox:checked + span::before {
  rotate: calc(var(--rotation) * 2);
  top: -6px;
  left: 6px;
}
#toggle-menu-checkbox:checked + span::after {
  rotate: calc(var(--rotation) * 2);
  bottom: -6px;
  right: 6px;
}

@container (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
  header nav {
    display: inline-flex !important;
  }
}
.hero {
  --dot-bg: var(--clr-light500);
  --dot-color: rgb(0 0 0 / .1);
  --dot-size: 1px;
  --dot-space: .25rem;
  background: linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center/var(--dot-space) var(--dot-space), linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center/var(--dot-space) var(--dot-space), var(--dot-color);
  padding-block: clamp(1rem, 13.5vh, 12.5rem);
}
.hero .container {
  gap: 2rem;
}
.hero h1 {
  width: min(100%, 28ch);
  text-wrap: balance;
  font-weight: 900;
}
.hero h1 span {
  --_height: .75rem;
  position: relative;
  isolation: isolate;
}
.hero h1 span::after {
  content: "";
  position: absolute;
  left: 0.25rem;
  bottom: calc(var(--_height) - 0.25rem);
  width: 100%;
  height: var(--_height);
  translate: calc(var(--_height) / -2);
  background: var(--clr-primary500);
  opacity: 0.15;
}
.hero p {
  font-size: clamp(1rem, 1.5vw + 0.125rem, 2.15rem);
  width: min(100%, 60ch);
  text-wrap: balance;
}

@media (prefers-color-scheme: dark) {
  .hero {
    --dot-bg: var(--clr-dark900) ;
  }
}
.tech {
  position: relative;
  isolation: isolate;
}
.tech::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--sectionBackdrop);
  opacity: 0.3;
}
.tech h3 {
  margin-block-end: 1.25rem;
}
.tech-lists {
  --_duration: 42s;
  display: grid;
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, rgba(0, 0, 0, 0), #000 5% 95%, rgba(0, 0, 0, 0));
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 0.875rem;
  margin-block-start: 0.875rem;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 13rem));
}
.tech-lists:first-of-type {
  margin-block-start: 3.5rem;
}
.tech-lists[data-row="1"] li {
  animation: row1 var(--_duration) linear infinite;
}
.tech-lists[data-row="2"] {
  --_duration: 38s;
}
.tech-lists[data-row="2"] li {
  animation: row2 var(--_duration) linear infinite;
  animation-direction: reverse;
}
.tech-lists[data-row="3"] {
  --_duration: 32s;
}
.tech-lists[data-row="3"] li {
  animation: row3 var(--_duration) linear infinite;
}
.tech-lists li {
  grid-area: 1/1;
  padding-inline: 0.75rem;
}
.tech-lists li span {
  padding: 0.5rem 0.875rem;
  text-align: center;
  width: 94%;
  margin-inline: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  isolation: isolate;
  font-size: 0.875rem;
  font-weight: 500;
}
.tech-lists li span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--clr-primary500);
  opacity: 0.125;
  border-radius: 0.75rem;
}

.tech-lists[data-row="1"] > li:nth-child(2) {
  animation-delay: calc(-0.0833333333*var(--_duration));
}

.tech-lists[data-row="1"] > li:nth-child(3) {
  animation-delay: calc(-0.1666666667*var(--_duration));
}

.tech-lists[data-row="1"] > li:nth-child(4) {
  animation-delay: calc(-0.25*var(--_duration));
}

.tech-lists[data-row="1"] > li:nth-child(5) {
  animation-delay: calc(-0.3333333333*var(--_duration));
}

.tech-lists[data-row="1"] > li:nth-child(6) {
  animation-delay: calc(-0.4166666667*var(--_duration));
}

.tech-lists[data-row="1"] > li:nth-child(7) {
  animation-delay: calc(-0.5*var(--_duration));
}

.tech-lists[data-row="1"] > li:nth-child(8) {
  animation-delay: calc(-0.5833333333*var(--_duration));
}

.tech-lists[data-row="1"] > li:nth-child(9) {
  animation-delay: calc(-0.6666666667*var(--_duration));
}

.tech-lists[data-row="1"] > li:nth-child(10) {
  animation-delay: calc(-0.75*var(--_duration));
}

.tech-lists[data-row="1"] > li:nth-child(11) {
  animation-delay: calc(-0.8333333333*var(--_duration));
}

.tech-lists[data-row="1"] > li:nth-child(12) {
  animation-delay: calc(-0.9166666667*var(--_duration));
}

.tech-lists[data-row="2"] > li:nth-child(2) {
  animation-delay: calc(-0.125*var(--_duration));
}

.tech-lists[data-row="2"] > li:nth-child(3) {
  animation-delay: calc(-0.25*var(--_duration));
}

.tech-lists[data-row="2"] > li:nth-child(4) {
  animation-delay: calc(-0.375*var(--_duration));
}

.tech-lists[data-row="2"] > li:nth-child(5) {
  animation-delay: calc(-0.5*var(--_duration));
}

.tech-lists[data-row="2"] > li:nth-child(6) {
  animation-delay: calc(-0.625*var(--_duration));
}

.tech-lists[data-row="2"] > li:nth-child(7) {
  animation-delay: calc(-0.75*var(--_duration));
}

.tech-lists[data-row="2"] > li:nth-child(8) {
  animation-delay: calc(-0.875*var(--_duration));
}

.tech-lists[data-row="3"] > li:nth-child(2) {
  animation-delay: calc(-0.1*var(--_duration));
}

.tech-lists[data-row="3"] > li:nth-child(3) {
  animation-delay: calc(-0.2*var(--_duration));
}

.tech-lists[data-row="3"] > li:nth-child(4) {
  animation-delay: calc(-0.3*var(--_duration));
}

.tech-lists[data-row="3"] > li:nth-child(5) {
  animation-delay: calc(-0.4*var(--_duration));
}

.tech-lists[data-row="3"] > li:nth-child(6) {
  animation-delay: calc(-0.5*var(--_duration));
}

.tech-lists[data-row="3"] > li:nth-child(7) {
  animation-delay: calc(-0.6*var(--_duration));
}

.tech-lists[data-row="3"] > li:nth-child(8) {
  animation-delay: calc(-0.7*var(--_duration));
}

.tech-lists[data-row="3"] > li:nth-child(9) {
  animation-delay: calc(-0.8*var(--_duration));
}

.tech-lists[data-row="3"] > li:nth-child(10) {
  animation-delay: calc(-0.9*var(--_duration));
}

@keyframes row1 {
  8.3333333333% {
    transform: translate(-100%);
  }
  8.3433333333% {
    transform: translate(1100%);
  }
}
@keyframes row2 {
  12.5% {
    transform: translate(-100%);
  }
  12.51% {
    transform: translate(700%);
  }
}
@keyframes row3 {
  10% {
    transform: translate(-100%);
  }
  10.01% {
    transform: translate(900%);
  }
}
.work-with-us > h3 {
  margin-block-end: 1.25rem;
}
.work-with-us .d-grid {
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  gap: clamp(1.25rem, 5vw, 3.5rem);
  margin-block-start: clamp(1.25rem, 12.5vh, 4.5rem);
}
.work-with-us .d-grid li {
  background: var(--_cardBg);
  border-radius: 0.75rem;
  padding: 1.25rem 2rem;
  color: var(--clr-light500);
}
.work-with-us .d-grid li h4 {
  font-size: 1.25rem;
}
.work-with-us .d-grid li h4 + p {
  margin-top: 0.75rem;
  color: var(--clr-light200);
}

.our-services h2 {
  font-size: clamp(1.5rem, 5.25vw, 2.81rem);
  font-weight: 500;
  opacity: 0.3;
}
.our-services--list {
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  gap: clamp(1.25rem, 5vw, 3.5rem);
  margin-block-start: clamp(1.25rem, 12.5vh, 4.5rem);
}
.our-services--list h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-block-end: 0.25rem;
}
.our-services figure {
  width: 100%;
  aspect-ratio: 1.93;
  background: var(--clr-light200);
  border-radius: 0.75rem;
  margin-block-end: 0.75rem;
  position: relative;
  overflow: hidden;
}
.our-services figure img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact h2 {
  font-size: clamp(1.25rem, 5.25vw, 2.5rem);
  font-weight: 500;
  opacity: 0.3;
}
.contact h4 {
  margin-block-start: 2rem;
  font-weight: 400;
  font-family: var(--system-font);
}
.contact h4 a {
  font-size: 1.5rem;
  margin-block-start: 0.5rem;
  color: var(--clr-primary500);
}

.bottom-content {
  margin-block-start: 2rem;
  padding-block-start: 2rem;
  border-top: 1px solid var(--clr-light200);
  opacity: 0.25;
}

.coworking {
  height: clamp(25rem, 70vw, 45rem);
  padding: 0 !important;
  overflow: hidden;
  position: relative;
}
.coworking::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-dark900);
  mix-blend-mode: lighten;
  opacity: 0.35;
}
.coworking img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.features {
  margin-block: clamp(2rem, 7vw, 5rem);
}
.features h3 {
  margin-block-end: 1.25rem;
}

.pricing h3 {
  margin-block-end: 1.25rem;
}
.pricing-options {
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
}
.pricing-type {
  padding: 1.25rem 1.75rem;
  position: relative;
  isolation: isolate;
  border-radius: 0.75rem;
  overflow: hidden;
  text-align: center;
}
.pricing-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bodyFontColor);
  opacity: 0.1;
}
.pricing-type p:not(:empty) {
  margin-block-end: 1rem;
}
.pricing-type h4 {
  font-size: 2rem;
}
.pricing-type h4::before {
  content: "NPR ";
  font-size: 1rem;
  font-weight: 400;
  display: block;
  opacity: 0.5;
}
.pricing-type h4::after {
  content: "per person";
  display: block;
  font-size: 0.875rem;
  font-weight: 200;
  opacity: 0.5;
}

/*# sourceMappingURL=styles.css.map */
